.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  max-height: 400px;
  /* min-width: 100px; */
  /* margin: 10px; */
  padding: 20px;
  /* width: 100%; */
  background-color: #fff;
  z-index: 1;
  box-sizing: border-box;
}

.product_rating {
  display: flex;
}
.rating-star {
  color: gold !important;
}
.product_info {
  height: 100px;
  margin-bottom: 15px;
}
.product-link > img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
  transition: all .3s;
}
.porduct_price {
  margin-top: 5px;
}
.product > button {
  background: #fcbc21;
  border: 1px solid;
  border-color: #fcbc21 #f6c657 #f0dcad;
  padding: 5px;
  cursor: pointer;
  transition: all 0.3s;
  outline: none;
  border-radius: 3px;
  margin-top: 10px;
}
.product > button:hover {
  background: #e9d29d;
}
.product > button:active{
  background: #f8ae00; 
}
.product-link{
  text-decoration: none;
  color: black;
}
.product-link:hover img{
  opacity: .7;
 
}